.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{
    color:black
}

.MuiButtonBase{
    background-color:"D6F2FB";
}

/* .red{
    background-color: red;
} */

.css-gb21iv-MuiButtonBase-root-MuiChip-root {
    background-color: transparent !important;
}