.app_btn {
  display: inline-flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 0.25rem;
  border: 1px solid #281c61;
  background: #d7f3fb;
}

.rej_btn {
  display: inline-flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #fff;
  border-radius: 0.25rem;
  background: #281c61;
}

.approve_comm {
  color: #281c61;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rej {
  color: #2b2a2a;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.rejbutton {
  display: inline-flex;
  height: 52px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #281c61;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  width: 169px;
}

.oemtypo {
  color: rgba(52, 58, 64, 0.6);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.date_inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5em;
  margin-top: 1em;
}

.date_picker {
  display: flex;
  width: 340px;
  height: 52px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  border-radius: 8px;
  background: #d6f2fb;
  border: none;
}

.app_btn1 {
  display: inline-flex;
  height: 52px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #281c61;

  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 1em;
}

.type_selector1 {
  display: flex;
  width: 340px;
  height: 52px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: #d6f2fb;
  border: none;
}

.text_picker {
  display: flex;
  width: 340px;
  height: 52px;
  padding: 12px;
  align-items: center;
  gap: 151px;
  flex-shrink: 0;

  border-radius: 8px;
  background: #d6f2fb;

  border: none;
}
