/* .circle {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .line {
    height: 100%;
    width: 1px;
    
    background-color: black;
} */
/* .hello{
    background-color: orange;
} */